body {
  background-image: url(media/coro.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}
#top-text {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0px;
}
#app {
  position: relative;
  max-width: 365px;
  margin: 0px auto 3px;
  border: 2px solid black;
  padding: 4px;
  background-image: linear-gradient(to bottom right,
  rgb(7, 6, 7), rgb(7, 7, 7));
  background-size: 100% 100%;
  /* text-align: center; */
}
/* #freeze {
  position: sticky;
  top: 0px;
  z-index: 4;
} */
#middle-head {
  margin: 0px;
  color:rgb(1, 247, 13);
  /* text-shadow: -3px 1px 1px rgb(247, 244, 244); */
  font-size: 25px;
  font-weight: 59px;
  padding: 3px;
}
#stay {
  color: rgb(243, 247, 242);
  text-shadow: 2px 2px rgb(32, 28, 28);
  font-size: larger;
}
#label1 {
  font-size: 0.95em;
}
#header {
  background: url(media/images3.jpeg) no-repeat;
  background-size: 100% 100%;
  color:rgb(211, 247, 6);
  font-size: 20px;
  text-shadow: 1px 1px 1px rgb(124, 124, 105);
  text-align: center;
  margin: 0 auto;
  padding-top: 2px;
  border-bottom: 10px solid rgb(32, 29, 29);
  width: 300px;
}
/* #we-for {
  color: red;
  text-shadow: 2px 2px blanchedalmond;
  margin: 0px;
} */
input, select {
  display: inline-block;
  height: 20px;
  width: 300px;
  border-radius: 3px;
  outline: none;
  border: none;
  background: inherit;
  /* margin: auto; */
  /* text-align: center; */
}
select {
  height: 32px;
  width: 312px;
  font-size: 20px;
  color: white;
}
select * {
  color: black;
}
input {
  padding: 4px;
  margin-right: 0px;
  font-size: 25px;
  border-bottom: 1px solid white;
  color: white;
  /* background-color: rgb(236, 204, 161); */
}
#form-page span, #form-page p {
  color: rgb(202, 29, 29);
}
div {
  margin-top: 10px;
}
#submit {
  height: 40px;
  border-radius: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: white;
  background-image: radial-gradient(rgb(27, 27, 25), rgb(211, 247, 6));
  outline: none;
}
#header-text {
  margin: 0px;
  text-align: center;
}
#header #opn {
  color: white;
  text-shadow: 2px 2px rgb(41, 40, 40);
}
#intro {
  color: white;
  width: 300px;
  margin: auto;
  text-align: center;
}
#form-page {
  width: 300px;
  margin: auto;
  color: white;
  font-weight: bolder;
}
sup {
  color: red;
}
/*second page*/
#tabs {
  position: sticky;
  top: 0px;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0px;
  /* margin-left: 0px; */
  margin-top: -1px;
  padding: 0px;
  line-height: 31px;
}
#second-page {
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  border-width: 0px 1px 1px 1px;
  text-align: center;
}
#second-page, #mild-result, #severe-result {
  display: none;
}

#mild-tab-btn, #severe-tab-btn, #home-tab-btn {
  display: inline-block;
  margin-top: -2px;
  color: white;
  border: 2px solid black;
  font-size: small;
  text-align: center;
  cursor: pointer;
  font-weight: 900;
}
#mild-tab-btn {
  background:rgb(138, 93, 9);
  width: 116px;
  border-left: none;
  height: 30px;
}
#severe-tab-btn {
  background: rgb(161, 21, 21);
  width: 131px;
  border-right: none;
  border-left: none;
  height: 30px;
}
#home-tab-btn {
  background: #999;
  width: 117px;
  height: 30px;
}
#severe-result {
  color: white;
  background: rgb(161, 21, 21);
}
#mild-result {
  color: white;
  background: rgb(138, 93, 9);
}
ol {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#advice {
  text-align: left;
  background-color: darksalmon;
  padding: 3px;
}
#result-explained {
  color: white;
  text-align: left;
  padding: 4px;
}
#contact {
  color: white;
}
#u {
  text-decoration: underline;
}
footer, #contact {
  color: white;
  text-align: center;
}
/*remove spinners in number inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}